@font-face {
  font-family: Barlow-Regular;
  src: url(..//fonts/Barlow-Regular.ttf);
}
@font-face {
  font-family: Barlow-Light;
  src: url(..//fonts/Barlow-Light.ttf);
}
@font-face {
  font-family: Barlow-Medium;
  src: url(..//fonts/Barlow-Medium.ttf);
}
@font-face {
  font-family: Barlow-SemiBold;
  src: url(..//fonts/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Barlow-Bold;
  src: url(..//fonts/Barlow-Bold.ttf);
}
@font-face {
  font-family: Ultra-Regular;
  src: url(..//fonts/Ultra-Regular.ttf);
}
